<div id="main">
  <div class="col-inner">
    <h1>Projects</h1>
    <p>You can add, edit and delete projects and their lego brick colors here.</p>

    <div ng-repeat="alert in alerts">
      <div ng-show="alerts" class="alert alert-{{alert.type}} alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>{{alert.heading}}!</strong> {{ alert.msg }}
      </div>
    </div>

    <ul id="project-container">
      <li class="project row"  ng-repeat="project in projects">
        <form novalidate name="{{'form' + $index}}" ng-submit="update($index)">
          <div class="form-group col-sm-3" ng-class="{ 'has-success': {{'form' + $index}}.$invalid && {{'form' + $index}}.color.$valid && submitted[{{$index}}],
                                              'has-error': submitted[{{$index}}] && {{'form' + $index}}.color.$invalid }">
            <label class="control-label sr-only" for="color">Color</label>
            <input type="color" name="color" ng-model="projects[$index].color" placeholder="#ffffff" class="form-control" mongoose-error />
            <p class="help-block" ng-show="{{'form' + $index}}.color.$error.mongoose">
              {{ errors[$index].color }}
            </p>
          </div>
          <div class="form-group col-sm-7" ng-class="{ 'has-success': {{'form' + $index}}.$invalid && {{'form' + $index}}.name.$valid && submitted[$index],
                                              'has-error': submitted[$index] && {{'form' + $index}}.name.$invalid }">
            <label class="control-label sr-only" for="name">Name</label>
            <input type="text" name="name" ng-model="projects[$index].name" placeholder="Project Name" class="form-control" mongoose-error />
            <p class="help-block" ng-show="{{'form' + $index}}.name.$error.mongoose">
              {{ errors[$index].name }}
            </p>
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-block btn-primary">
              <i class="fa fa-floppy-o"></i>
              <span class="sr-only">Update</span>
            </button>
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-block btn-default" ng-click="delete($index)">
              <i class="fa fa-trash-o"></i>
              <span class="sr-only">Delete</span>
            </button>
          </div>
        </form>

      </li>
    </ul>

    <h4>Add a New Project</h4>

    <form class="row" novalidate name="newProjectForm" ng-submit="create(newProjectForm)">
      <div class="form-group col-sm-3" ng-class="{ 'has-success': newProjectForm.$invalid && newProjectForm.color.$valid && newSubmitted,
                                              'has-error': newSubmitted && newProjectForm.color.$invalid }">
        <label class="control-label sr-only" for="color">Color</label>
        <input type="color" name="color" ng-model="project.color" placeholder="#ffffff" class="form-control" mongoose-error />
        <p class="help-block" ng-show="newProjectForm.color.$error.mongoose">
          {{ errors.newProjectForm.color }}
        </p>
      </div>
      <div class="form-group col-sm-7" ng-class="{ 'has-success': newProjectForm.$invalid && newProjectForm.name.$valid && newSubmitted,
                                              'has-error': newSubmitted && newProjectForm.name.$invalid }">
        <label class="control-label sr-only" for="name">Name</label>
        <input type="text" name="name" ng-model="project.name" placeholder="Project Name" class="form-control" mongoose-error />
        <p class="help-block" ng-show="newProjectForm.name.$error.mongoose">
          {{ errors.newProjectForm.name }}
        </p>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-block btn-primary">
          <span class="glyphicon glyphicon-plus"></span> Add Project
        </button>
      </div>
    </form>
  </div>
</div>
